@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    /* Font */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* Font sizes */
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 2em;
    /* Font weights */
    --font-weight-light: 100;
    --font-weight-medium: 400;
    --font-weight-bold: 700;
    /* Colors for light mode */
    --bg-color-background: #f2f2f2;
    --bg-color-primary: #142d4c;
    --bg-color-secondary: #385170;
    --bg-color-complementary: #fcfefe;
    /* Page settings */
    --container-width: 52rem;
}

/* Colors for dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color-background: #070f4e;
        --bg-color-primary: #fafafa;
        --bg-color-secondary: #e7eaf6;
        --bg-color-complementary: #142d4c;
    }
}

body {
    margin: 0;
    color: var(--bg-color-primary);
    background-color: var(--bg-color-background);
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-topbar {
    position: fixed;
    top: 0.5rem;
    display: flex;
    max-width: var(--container-width);
    width: 100%;
}

.container-search {
    display: flex;
    width: 100%;
}

select {
    width: 9rem;
    align-self: stretch;
    margin-right: 0.5rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border: 2px solid var(--bg-color-primary);
    border-radius: 0.75rem;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: var(--bg-color-secondary);
    text-overflow: ellipsis;
    background: var(--bg-color-complementary);
    background-repeat: no-repeat;
    background-position-x: 0.5rem;
    background-position-y: 50%;
}

#select-type {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 512 512'><path d='M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM48 368v32c0 8.8 7.2 16 16 16H96c8.8 0 16-7.2 16-16V368c0-8.8-7.2-16-16-16H64c-8.8 0-16 7.2-16 16zm368-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V368c0-8.8-7.2-16-16-16H416zM48 240v32c0 8.8 7.2 16 16 16H96c8.8 0 16-7.2 16-16V240c0-8.8-7.2-16-16-16H64c-8.8 0-16 7.2-16 16zm368-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V240c0-8.8-7.2-16-16-16H416zM48 112v32c0 8.8 7.2 16 16 16H96c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H64c-8.8 0-16 7.2-16 16zM416 96c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V112c0-8.8-7.2-16-16-16H416zM160 128v64c0 17.7 14.3 32 32 32H320c17.7 0 32-14.3 32-32V128c0-17.7-14.3-32-32-32H192c-17.7 0-32 14.3-32 32zm32 160c-17.7 0-32 14.3-32 32v64c0 17.7 14.3 32 32 32H320c17.7 0 32-14.3 32-32V320c0-17.7-14.3-32-32-32H192z'/></svg>");
}

#select-user {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'><path d='M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z'/></svg>");
}

#select-sort {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 576 512'><path d='M151.6 469.6C145.5 476.2 137 480 128 480s-17.5-3.8-23.6-10.4l-88-96c-11.9-13-11.1-33.3 2-45.2s33.3-11.1 45.2 2L96 365.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V365.7l32.4-35.4c11.9-13 32.2-13.9 45.2-2s13.9 32.2 2 45.2l-88 96zM320 480c-17.7 0-32-14.3-32-32s14.3-32 32-32h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H320zm0-128c-17.7 0-32-14.3-32-32s14.3-32 32-32H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H320z'/></svg>");
}

select:hover,
select:focus,
select:focus-visible {
    color: var(--bg-color-primary);
}

.search-query {
    width: 100%;
    padding-left: 0.5rem;
    border: 2px solid var(--bg-color-primary);
    border-right: none;
    border-radius: 0.75rem 0 0 0.75rem;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-li);
    color: var(--bg-color-secondary);
    background: var(--bg-color-complementary);
}
  
.search-query:hover,
.search-query:focus,
.search-query:focus-visible {
    color: var(--bg-color-primary);
}

.search-button {
    padding: 0.25rem 0.5rem;
    border: 2px solid var(--bg-color-primary);
    border-radius: 0 0.75rem 0.75rem 0;
    background: var(--bg-color-primary);
    font-size: 1.25rem;
    color: var(--bg-color-complementary);
    cursor: pointer;
}

.search-button:hover {
    border-color: var(--bg-color-secondary);
    background: var(--bg-color-secondary);
}

.container-movies {
    display: flex;
    flex-direction: column;
    max-width: calc(var(--container-width) - 4rem);
    width: 100%;
    padding-top: 3.5rem;
}

.card {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.card-img {
    max-width: 25%;
    overflow: hidden;
    border: 2px solid var(--bg-color-primary);
    border-right: none;
    border-radius: 0.75rem 0 0 0.75rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 2rem;
    border: 2px solid var(--bg-color-primary);
    border-left: none;
    border-radius: 0 0.75rem 0.75rem 0;
    background-color: var(--bg-color-complementary);
}

.card-title {
    margin: 1rem 0 0;
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    color: var(--bg-color-primary);
}

.card-badges {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 0;
}

.badge {
    margin-right: 0.25rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--bg-color-primary);
    border-radius: 0.75rem;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    text-align: center;
    color: var(--bg-color-secondary);
}

.badge span {
    color: var(--bg-color-secondary);
}

.card-summary {
    margin: 1rem 0 0;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    color: var(--bg-color-secondary);
}

.card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto 0 1rem;
}

.card-user {
    margin: 0;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-light);
    color: var(--bg-color-secondary);
}

.card-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.button-link {
    margin-right: 0.5rem;
    padding: 0.25rem;
    font-size: var(--font-size-xlarge);
    color: var(--bg-color-primary);
    cursor: pointer;
}

.button-card {
    margin-left: 0.5rem;
    padding: 0.25rem;
    border: none;
    background: none;
    font-size: var(--font-size-large);
    color: var(--bg-color-primary);
    cursor: pointer;
}

.button-link:hover,
.button-card:hover {
    opacity: 0.5;
}

.pipe {
    width: 0.125rem;
    height: var(--font-size-xlarge);
    border-radius: 0.75rem;
    background-color: var(--bg-color-secondary);
}