@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* * {
    outline: solid 1px red;
} */

:root {
    /* Font */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* Font sizes */
    --font-size-small: 0.875rem;
    --font-size-normal: 1rem;
    --font-size-medium: 1.125rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
    /* Colors */
    --bg-color-background: #FFFFFF;
    --bg-color-primary: #424242;
    --bg-color-secondary: #757575;
    --bg-color-card-body: #FAFAFA;
    --text-color-title: #302e4d;
    --text-color-paragraph: #504e70;
    --text-color-badge: #FFFFFF;
    /* Page settings */
    --container-width: 60rem;
}

body {
    margin: 0;
}

.container-main {
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    width: 100%;
    margin: auto;
}

.container-topbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: end;
    max-width: var(--container-width);
    width: 100%;
    background-color: white;
}


.container-search {
    width: 100%;
}

.container-movies {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
}

.dropdown {
    padding: 10px;
    margin-right: 10px;
}

.card {
    display: flex;
    max-width: 100%;
    margin: 1rem;
    outline: 0.125rem solid var(--bg-color-primary);
    border-radius: 0.75rem;
    background-color: var(--bg-color-card-body);
}

.card-img {
    max-width: 25%;
    overflow: hidden;
    border-radius: 0.75rem 0 0 0.75rem;
}

.card-body {
    width: 100%;
    padding: 1rem 2rem;
}

.card-badges {
    display: flex;
    flex-direction: row;
}

.badge {
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
    background-color: var(--bg-color-secondary);
    color: var(--text-color-badge);
}

.fa-star,
.fa-star-half-stroke {
    color: #FFD700;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-user {
    font-size: var(--font-size-small);
    color: var(--bg-color-secondary);
    margin: 0;
}

.card-actions {
    display: flex;
    justify-content: right;
    align-items: center;
}

.button-link {
    cursor: pointer;
}

.button-link i {
    margin-right: 0.5rem;
    font-size: 2rem;
    color: var(--bg-color-primary);
}

.button-link:hover i {
    opacity: 0.5;
}

.fa-trash-can {
    font-size: 1.5rem;
    color: var(--bg-color-primary);
}

.vertical-bar {
    margin-right: 0.5rem;
    font-size: 2rem;
    color: var(--bg-color-secondary);
}

/* TODO */

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }

  .searchButton {
    width: 2.5rem;
    height: 2.25rem;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.25rem;
  }