@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* * {
    outline: solid 1px red;
} */

:root {
    /* Font */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* Font sizes */
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 2em;
    /* Font weights */
    --font-weight-light: 100;
    --font-weight-medium: 400;
    --font-weight-bold: 700;
    /* Colors */
    --bg-color-background: #f2f2f2;
    --bg-color-primary: #142d4c;
    --bg-color-secondary: #385170;
    --bg-color-complementary: #fcfefe;
    --text-color-title: #302e4d;
    --text-color-paragraph: #504e70;
    --text-color-badge: #424242;
    /* Page settings */
    --container-width: 60rem;
}

body {
    margin: 0;
    color: var(--bg-color-primary);
    background-color: var(--bg-color-background);
}

.container-main {
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    width: 100%;
    margin: auto;
}

.container-topbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: end;
    max-width: var(--container-width);
    width: 100%;
    background-color: white;
}


.container-search {
    width: 100%;
}

.container-movies {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3rem;
}

.dropdown {
    padding: 10px;
    margin-right: 10px;
}

.card {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.card-img {
    max-width: 25%;
    overflow: hidden;
    border: 2px solid var(--bg-color-primary);
    border-right: none;
    border-radius: 0.75rem 0 0 0.75rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 2rem;
    border: 2px solid var(--bg-color-primary);
    border-left: none;
    border-radius: 0 0.75rem 0.75rem 0;
    background-color: var(--bg-color-complementary);
}

.card-title {
    margin: 1rem 0 0;
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    color: var(--bg-color-primary);
}

.card-badges {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 0;
}

.badge {
    margin-right: 0.25rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--bg-color-primary);
    border-radius: 0.75rem;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    text-align: center;
    color: var(--bg-color-secondary);
}

.badge span {
    color: var(--bg-color-secondary);
}

.card-summary {
    margin: 1rem 0 0;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    color: var(--bg-color-secondary);
}

.card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto 0 1rem;
}

.card-user {
    margin: 0;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-light);
    color: var(--bg-color-secondary);
}

.card-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.button-link {
    margin-right: 0.5rem;
    padding: 0.25rem;
    font-size: var(--font-size-xlarge);
    color: var(--bg-color-primary);
    cursor: pointer;
}

.button-card {
    margin-left: 0.5rem;
    padding: 0.25rem;
    border: none;
    background: none;
    font-size: var(--font-size-large);
    color: var(--bg-color-primary);
    cursor: pointer;
}

.button-link:hover,
.button-card:hover {
    opacity: 0.5;
}

.vertical-bar {
    font-size: 2rem;
    color: var(--bg-color-secondary);
    cursor: default;
}

/* TODO */

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }

  .searchButton {
    width: 2.5rem;
    height: 2.25rem;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.25rem;
  }